@model Entidades.clsPersona
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PersonaModificada</title>
</head>
<body>
    <div>Nombre: @Model.Nombre</div>
    <div>Apellidos: @Model.Apellidos</div>
    <div>Fecha de nacimiento: @Model.FechaNacimiento</div>
    <div>Dirección: @Model.Direccion</div>
    <div>Teléfono: @Model.Telefono</div>
</body>
</html>
